<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/KazeIU" class="img-circle" alt="KazeIU" />
        <h2>Caleb Finley</h2>
        <p>
          <a href="http://github.com/kazeiu"><i class="fa fa-github"></i>KazeIU</a>
        </p>
      </li>
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/sato623" class="img-circle" alt="sato623" />
        <h2>Tsuzumi Sato</h2>
        <p>
        <a href="http://github.com/sato623"><i class="fa fa-github"></i>sato623</a>
        </p>
      </li>
    </ul>
  </div>
</div>
